@{
    ViewBag.Title = "LicensedProducts";
}

<div class="body-content-wrapper">
    <div class="left-sidebar">
           <h3 class="sidebar-title">Products</h3>
            <ul class="sidebar-nav">
                <li class="sidebar-nav-item-c selected"><a class="sidebar-nav-item" href="/product/licensedproducts">Licensed Products <span class="left-arrow"></span></a></li>
                <li class="sidebar-nav-item-c"><a class="sidebar-nav-item" href="/product/standaloneproducts">Standalone Products <span class="left-arrow"></span></a></li>
            </ul>

    </div>

    <div class="right-content">
         <h4 class="content-title">Licensed Products</h4>
         <div class="content-c">
                <div class="internal-link-grp">
                    <a href="#prod1" class="internal-link"><span class="right-arrow"></span> SilvoFlash<sup class="sup">TM</sup> cell patent and process license</a> <br />
                    <a href="#prod2" class="internal-link"><span class="right-arrow"></span> SilvoFlash<sup class="sup">TM</sup> design license</a><br />
                    <a href="#prod3" class="internal-link"><span class="right-arrow"></span> SilvoFlash<sup class="sup">TM</sup> design service (customized design)</a><br />
                </div> 

             <a name="prod1"></a>
             <h5 class="sub-title">SilvoFlash<sup class="sup">TM</sup> cell patent and process license</h5>
             <p class="paragraph">IoTMemory Technology Inc. was founded as a fabless company in Taiwan in 2014 to provide patented Flash cell, process flow support and macro design (IP), comprising of both embedded and standalone NOR Flash.</p>
<p class="paragraph">IoTMemory is started by Taiwan Flash industry experts, each with many years of experience in circuit design, device development, process engineering and marketing that will prove essential/critical/important for foundry and fabless design house’s customized and specialized demands.</p>
<p class="paragraph">IoTMemory’ SilvoFlashTM (Single Low Voltages Flash) functions with true single low voltages (1.2V or 1.5V), logic compatible, high endurance, high data retention, competitive cell size and mask layers..., which is ideally suited for IoT and low power devices.</p>
             <br /><br />

              <a name="prod2"></a>
             <h5 class="sub-title">SilvoFlash<sup class="sup">TM</sup> design license</h5>
             <p class="paragraph">IoTMemory Technology Inc. was founded as a fabless company in Taiwan in 2014 to provide patented Flash cell, process flow support and macro design (IP), comprising of both embedded and standalone NOR Flash.</p>
<p class="paragraph">IoTMemory is started by Taiwan Flash industry experts, each with many years of experience in circuit design, device development, process engineering and marketing that will prove essential/critical/important for foundry and fabless design house’s customized and specialized demands.</p>
<p class="paragraph">IoTMemory’ SilvoFlashTM (Single Low Voltages Flash) functions with true single low voltages (1.2V or 1.5V), logic compatible, high endurance, high data retention, competitive cell size and mask layers..., which is ideally suited for IoT and low power devices.</p>

             <br />
             <br />
              <a name="prod3"></a>
             <h5 class="sub-title">SilvoFlash<sup class="sup">TM</sup> design service (customized design)</h5>
             <p class="paragraph">IoTMemory Technology Inc. was founded as a fabless company in Taiwan in 2014 to provide patented Flash cell, process flow support and macro design (IP), comprising of both embedded and standalone NOR Flash.</p>
<p class="paragraph">IoTMemory is started by Taiwan Flash industry experts, each with many years of experience in circuit design, device development, process engineering and marketing that will prove essential/critical/important for foundry and fabless design house’s customized and specialized demands.</p>
<p class="paragraph">IoTMemory’ SilvoFlashTM (Single Low Voltages Flash) functions with true single low voltages (1.2V or 1.5V), logic compatible, high endurance, high data retention, competitive cell size and mask layers..., which is ideally suited for IoT and low power devices.</p>

         </div>
    </div>
    <br class="clear-both" />
</div>

