@{
    ViewBag.Title = "IoTMemory";
   
}

<div class="body-content-wrapper">
    <div class="banner-c">
         <div class="slideshow-c">
            <div class="slideshow" id="coin-slider">
                    <ul>
                      <li>
                        <img src="/CDN/Themes/1/images/sm-banner1.png" alt="" />
                      </li>
          
                      <li>
                        <img src="/CDN/Themes/1/images/sm-banner2.png" alt="" />
                      </li>
          
                      <li>           
                       <img src="/CDN/Themes/1/images/sm-banner3.png" alt="" />
                      </li>               
                    </ul>
             </div>

        </div> <!-- End of slide-show-c -->

    </div>
    <div class="body-content">

       <div class="news-c">
           <h2 class="title"><span class="title-icon"></span> Latest Updates and Events</h2>
           <div class="news-content">
               <a class="news-row" href="/news/newsdetails">
                   <span class="news-date">12/12/2015</span>
                   <span class="news-outline">This is our latest news IoTMemory</span>
                   <span class="news-right-arrow"></span>
               </a>

               <a class="news-row" href="/news/newsdetails">
                   <span class="news-date">12/12/2015</span>
                   <span class="news-outline">This is our latest news IoTMemory</span>
                   <span class="news-right-arrow"></span>
               </a>

               <a class="news-row" href="/news/newsdetails">
                   <span class="news-date">12/12/2015</span>
                   <span class="news-outline">This is our latest news IoTMemory</span>
                   <span class="news-right-arrow"></span>
               </a>

               <a class="news-row" href="/news/newsdetails">
                   <span class="news-date">12/12/2015</span>
                   <span class="news-outline">This is our latest news IoTMemory</span>
                   <span class="news-right-arrow"></span>
               </a>

               <a class="news-row" href="/news/newsdetails">
                   <span class="news-date">12/12/2015</span>
                   <span class="news-outline">This is our latest news IoTMemory</span>
                   <span class="news-right-arrow"></span>
               </a>
           </div>
       </div>

        <div class="about-intro">
            <h2 class="title"><span class="title-icon"></span> IOT Technology INC.</h2>

            <div class="about-text">
                <p class="paragraph">IoTMemory was founded as a fabless company in Taiwan in 2014 to provide patented Flash cell, macro design (IP) and flash process support, comprising of both embedded and standalone Flash memory.</p>
                <p class="paragraph">SilvoFlashTM is a versatile and quality Nor-Flash with single low  voltages supply (<1.5V), low power consumption, high endurance (>100K) and high date retention (85°C@10years)  to enable  your IoT, MCU, smartcard  and etc. function well. <a href="/about/corporateoverview" class="inline-link">read more ...</a></p>
            </div>

        </div>
    </div>



    <br class="clear-both" />

</div>
