@{
    ViewBag.Title = "MissionVision";
}

<div class="body-content-wrapper">
    <div class="left-sidebar">
           <h3 class="sidebar-title">About IoTMemory</h3>
            <ul class="sidebar-nav">
                <li class="sidebar-nav-item-c"><a class="sidebar-nav-item" href="/about/corporateoverview">Corporate Overview <span class="left-arrow"></span></a></li>
                <li class="sidebar-nav-item-c selected"><a class="sidebar-nav-item" href="/about/missionvision">Mission & Vision <span class="left-arrow"></span></a></li>
            </ul>

    </div>

    <div class="right-content">
         <h4 class="content-title">Mission and Vision</h4>
         <div class="content-c">

             <h5 class="sub-title">Mission</h5>
    <p class="paragraph">Enable and inspire everyone to build a better future </p>

<p class="paragraph">&nbsp;</p>

<h5 class="sub-title">Vision</h5>
  <p class="paragraph">To be a reliable Flash memory provider, enables customers success with cutting-edge and  innovative products</p> 


         </div>
    </div>
    <br class="clear-both" />
</div>

